<h1>Is a bus nearby?</h1>

<p>Give us your address or approximate location (<em> Im at the corner of >insert data< </em> and we'll let you know if there's a bus in the vicinity!
</p>

<%= render 'form', location: @location %>


